<ul class="header-container padding">
    <li><a href="/">Accueil</a></li>
    <li><a href={{ url_for('nosproduits') }}>Nos produits</a></li>
    <li><a href={{ url_for('nosproducteurs') }}>Nos producteurs</a></li>
    {% if session.user %}
        <li><a href="/deconnexion">Déconnexion</a></li>
    {% else %}
        <li><a href="/connexion">Connexion</a></li>
    {% endif %}
    {% if session.panier %}
        <li id="li-panier"><a href="panier" class="header-panier"><span class="mdi mdi-cart"></span></a></li>
    {% else %}

    {% endif %}
</ul>